

<!DOCTYPE html>
<html lang="fr">

<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <base href="/">
    <title>Cabinet RH basé à Cotonou-Talents Plus Afrique</title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico"
        style="height: 100px; width: 136.667px; object-fit: contain; ">
    <!-- Author Meta -->
    <meta name="author" content="Talents Plus Afrique">
    <meta name="title" content="Talents Plus Afrique – Cabinet RH à Cotonou">
    <!-- Meta Description -->
    <meta name="keywords"
        content="Talents Plus Afrique,cabinet à cotonou, formation, recrutement, intérim, portage, développement personnel, études RH, assistance" />
    <meta name="rights" content="Copyright © 2024 Groupe Talents Plus, Tous droits réservés." />
    <meta name="description"
        content="TALENTS PLUS AFRIQUE vous accompagne dans vos enjeux RH : Travail temporaire, Portage, Assistance aux entreprises,Recrutement, Formation, Conseils aux PME/PMI, Etudes RH générale et SIRH">
    <meta name="geo.region" content="BJ-LI">
    <meta name="geo.placename" content="Cotonou">
    <meta name="geo.position" content="6.378710440893641, 2.4197955371576003">

    <!-- Meta Keyword -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="" name="theme-color" content="#00027D">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback">
    
    <link rel="stylesheet" type="text/css" href="/site/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/site/assets/custom.css">
    <link rel="stylesheet" href="/site/assets/banner/css/style.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
        <meta name="keywords" content="Un (01) HOME AND DEVICE FINANCING SUPPORT (REF: ETT-0126R01HDFS)" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- banner -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/4.5.6/css/ionicons.min.css">
    <!--Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/site/assets/js/script.js"></script>
    <script src="/site/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/site/assets/css/bootstrap/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="/site/assets/js/owl.carousel/owl.carousel.min.js"></script>
    <script src="/site/assets/js/owl.carousel/owl.carousel.js"></script>
    <script src="/site/assets/js/owl.carousel/animate.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
    <link href="/site/assets/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <script src="/site/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>

<body style="background-color: rgb(244, 244, 244)">
        <header>
        <section class="sub-header cacher">
            <div class="container">
                <div style="display: flex;align-items: center;
    justify-content: space-between;">
                    <div class="phone ">
                        <a aria-label="+22921602843" href="tel:+22921602843">
                            <img alt="" src="/site/assets/img/phone.svg">
                            <p style="margin-bottom: 0px">(+229) 01 21 60 28 43 - 01 96 35 77 22</p>
                        </a>
                    </div>
                    <div class="mail">
                        <a aria-label="info@talentsplusafrique.com"
                            href="mailto:info@talentsplusafrique.com?subject=Mail de notre site Web ">
                            <img alt="" src="/site/assets/img/mail.svg">
                            <p style="margin-bottom: 0px">info@talentsplusafrique.com</p>
                        </a>
                    </div>
                    <div class="social ">
                        <a target="_blank" aria-label="Talents Plus Afrique"
                            href="https://www.facebook.com/talentsplusafrique"><img src="assets/img/facebook.svg"
                                alt=""></a>
                        <a target="_blank" aria-label="Talents Plus Afrique"
                            href="https://www.linkedin.com/in/talents-plus-groupe-b325887a/"><img alt=""
                                src="assets/img/linkedin.svg"></a>
                        <a target="_blank" aria-label="Talents Plus Afrique" href="https://twitter.com/TalentsPlus"><img
                                src="assets/img/twitter.svg" alt=""></a>
                    </div>

                    <div class=" ">
                        <form method="POST" action="/newsletters">
                            <input type="hidden" name="_token" value="s2K8YUbVZXAUWF1tVvTsTftf1JrJ5Pn7lljV26HL">                            <div class="input-group" style="">
                                <input class="form-control"
                                    style="    border-radius: 15px 0px 0px 15px !important; height: 28px !important; text-transform:lowercase !important"
                                    placeholder="Entrer votre email" onfocus="this.placeholder = ''"
                                    onblur="this.placeholder = 'Entrer votre email '" type="email" name="email"
                                    required>
                                <div class="input-group-prepend">
                                    <button type="submit"
                                        style="height: 28px; border-radius: 0px 15px 15px 0px !important; top: 5px;display: flex;
    align-items: center;"
                                        class="btn btn-submit">Souscrire</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="top-header">
            <div class="container pad" style="">
                <nav class="navbar navbar-expand-lg navbar-light">
                    
                    <a class="navbar-brand pb-2 " aria-label="Talents Plus Afrique" href="/"><img
                            alt="" class="" src="public/assets/img/logonoel.png" width="80"
                            style="width: 80px !iùportant"></a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav ">
                            <li class="nav-item ">
                                <a class="nav-link " href="/">Accueil<span class="sr-only">(current)</span></a>
                            </li>
                            <li
                                class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" href="/a-propos">A propos </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/a-propos">Talents Plus
                                            Afrique</a></li>
                                    <li><a class="dropdown-item" href="/visions-valeurs">Visions et Valeurs</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle">Les
                                            filiales</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item"
                                                    href=" https://www.talentsplusafrique.com/filiales/talents-plus-conseils-benin">Talents
                                                    Plus Conseils
                                                    Bénin</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                    href=" https://www.talentsplusafrique.com/filiales/talents-plus-ett-benin">Talents
                                                    Plus E.T.T
                                                    Bénin</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                    href=" https://www.talentsplusafrique.com/filiales/talents-plus-conseils-cote-divoire">Talents
                                                    Plus Conseils Côte
                                                    d’ivoire</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                    href=" https://www.talentsplusafrique.com/filiales/talents-plus-conseils-mali">Talents
                                                    Plus Conseils
                                                    Mali</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                    href=" https://www.talentsplusafrique.com/filiales/talents-plus-ett-togo">Talents
                                                    Plus E.T.T Togo</a>
                                            </li>
                                            <li><a class="dropdown-item"
                                                    href=" https://www.talentsplusafrique.com/filiales/gisea-sarl">GISEA SARL</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" href="/a-propos#distinc">Nos
                                            distinctions</a></li>
                                    <li><a class="dropdown-item" href="/a-propos#partenaires">Nos
                                            partenaires</a></li>
                                    <li><a class="dropdown-item" href="/a-propos#client">Nos
                                            Secteurs</a></li>
                                    <li><a class="dropdown-item" href="/articles">Nos Articles</a></li>
                                </ul>
                            </li>

                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id=""
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nos
                                    produits</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li class="dropdown-submenu"><a
                                            href=" https://www.talentsplusafrique.com/nos-produits/travail-temporaire"
                                            class="dropdown-item dropdown-toggle">Travail
                                            temporaire/portage</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Externalisation</a></li>
                                            <li><a class="dropdown-item">Mise à disposition de personnel</a></li>
                                            <li><a class="dropdown-item">Portage</a></li>
                                            <li><a class="dropdown-item">Mise à disposition de personnel de maison</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a
                                            href=" https://www.talentsplusafrique.com/nos-produits/recrutement"
                                            class="dropdown-item dropdown-toggle">Recrutement</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Recrutement complet</a></li>
                                            <li><a class="dropdown-item">Assistance technique</a></li>
                                            <li><a class="dropdown-item">Mise à disposition de CV </a></li>
                                            <li><a class="dropdown-item">Décryptage de personalité</a></li>
                                            <li><a class="dropdown-item">Chasse de tête</a></li>
                                            <li><a class="dropdown-item"> CVthèque </a></li>
                                            <li><a class="dropdown-item"> Coaching de préparation </a></li>
                                            <li><a class="dropdown-item"> E-recrutment </a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu"><a href=" https://www.talentsplusafrique.com/nos-produits/formation"
                                            class="dropdown-item dropdown-toggle">Formation</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Intra-entreprise</a></li>
                                            <li><a class="dropdown-item">Inter-entreprises</a></li>
                                            <li><a class="dropdown-item">Individuelle</a></li>
                                            <li><a class="dropdown-item">Coaching</a></li>
                                            <li><a href="/formation/catalogue" class="dropdown-item">Catalogue
                                                    de formation</a></li>
                                            <li><a href="/formation/list-formation" class="dropdown-item">Calendrier
                                                </a></li>
                                            <li><a href="https://www.talentsplusclass.com" target="_blank"
                                                    class="dropdown-item">E-learning</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a
                                            href=" https://www.talentsplusafrique.com/nos-produits/conseil-pme-pmi"
                                            class="dropdown-item dropdown-toggle">Conseils PME/PMI</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Elaboration de plan d'affaire</a></li>
                                            <li><a class="dropdown-item">Note d'information bancaire</a></li>
                                            <li><a class="dropdown-item">Recherche de financement</a></li>
                                            <li><a class="dropdown-item">Coaching</a></li>
                                            <li><a class="dropdown-item">Réalisation de diagnostic</a></li>
                                            <li><a class="dropdown-item">Renforcement de capacités</a></li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a
                                            href=" https://www.talentsplusafrique.com/nos-produits/assistance-rh"
                                            class="dropdown-item dropdown-toggle">Assistance RH / Droit Social</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Gestion de la Paie</a></li>
                                            <li><a class="dropdown-item">Gestion Externalisée des Ressources
                                                    Humaines.</a></li>
                                            <li><a class="dropdown-item">Conseils en Droit Social</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu"><a href=" https://www.talentsplusafrique.com/nos-produits/etudes-rh"
                                            class="dropdown-item dropdown-toggle">Etudes RH/Générales</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Audit organisationnel</a></li>
                                            <li><a class="dropdown-item">Bilan des compétences
                                                </a></li>
                                            <li><a class="dropdown-item">Audit social
                                                </a></li>
                                            <li><a class="dropdown-item">Audit des outils et Politiques RH
                                                </a></li>
                                            <li><a class="dropdown-item">Enquête de satisfaction
                                                </a></li>
                                            <li><a class="dropdown-item">Enquête d’engagement</a></li>
                                            <li><a class="dropdown-item">Enquête salariale</a></li>
                                            <li><a class="dropdown-item">Culture d'entreprise</a></li>
                                            <li><a class="dropdown-item">Système et évaluation des performances</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="dropdown-submenu"><a href=" https://www.talentsplusafrique.com/nos-produits/sirh"
                                            class="dropdown-item dropdown-toggle">SIRH</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Talents Gest Paie V1</a></li>
                                            <li><a class="dropdown-item">Talents Gest Paie V2</a></li>
                                            <li><a class="dropdown-item">Simulation de salaire Net</a></li>
                                        </ul>
                                    </li>

                                    <li class="dropdown-submenu"><a href=" https://www.talentsplusafrique.com/nos-produits/rse"
                                            class="dropdown-item dropdown-toggle">RSE</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">La gouvernance de l’organisation</a></li>
                                            <li><a class="dropdown-item">Les droits de l’Homme
                                                </a></li>
                                            <li><a class="dropdown-item">Les relations et conditions de travail
                                                </a></li>
                                            <li><a class="dropdown-item">L’environnement
                                                </a></li>
                                            <li><a class="dropdown-item">La loyauté des pratiques
                                                </a></li>
                                            <li><a class="dropdown-item">La protection des consommateurs</a></li>
                                            <li><a class="dropdown-item">Les communautés et le développement local</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li
                                class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" href="/offre-emploi">Nos offres</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="jobs">Emploi</a></li>

                                    <li><a class="dropdown-item" href="/interims">Intérim</a></li>
                                    <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle"
                                            href="formation/offre-de-formation">Formation</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Intra-entreprise</a></li>
                                            <li><a class="dropdown-item">Inter-entreprises</a></li>
                                            <li><a class="dropdown-item">Individuelle</a></li>
                                            <li><a class="dropdown-item">Coaching</a></li>
                                            <li><a href="/formation/catalogue" class="dropdown-item">Catalogue
                                                    de formation</a></li>
                                            <li><a href="/formation/list-formation" class="dropdown-item">Calendrier
                                                </a></li>
                                            <li><a href="https://www.talentsplusclass.com" target="_blank"
                                                    class="dropdown-item">E-learning</a>
                                        </ul>
                                    </li>

                                    <li><a class="dropdown-item" href="#">PME/PMI</a></li>
                                    <li><a class="dropdown-item" href="process">Comment postuler?</a></li>
                                </ul>
                            </li>
                            <li
                                class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" href="/offre-emploi">Programmes</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                                    <li><a class="dropdown-item"
                                            href="/Bachelor_Degree_in_Civil_Engineering">Internationnaux</a></li>
                                    <li><a class="dropdown-item" href="/r-talents">R-Talents</a></li>
                                </ul>
                            </li>

                            <li
                                class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" href="#" id=""
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CV Thèque</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/depotCV-infos">Dépôt de CV</a></li>

                                                                        <li><a class="dropdown-item" href="cv/modele-cv-consultant">Modèle de CV
                                            consultant</a></li>
                                    <li><a class="dropdown-item" href="cv/modele-cv-emploi">Modèle de CV emploi</a>
                                    </li>
                                    <li class="dropdown-submenu"><a href="/conseils"
                                            class="dropdown-item dropdown-toggle">Conseils en
                                            Insertion</a>
                                        <ul class="dropdown-menu">
                                            <li><a class="dropdown-item">Orientation des jeunes</a></li>
                                            <li><a class="dropdown-item">Préparer son insertion professionnelle </a>
                                            </li>
                                            <li><a class="dropdown-item">Comment rédiger un CV professionnel </a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" id="" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false" href="#">Contactez-nous</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <li><a class="dropdown-item" href="/contact/benin-tpc">TPC Bénin</a></li>
                                    <li><a class="dropdown-item" href="/contact/benin-ett">TP ETT Bénin</a></li>
                                    <li><a class="dropdown-item" href="/contact/cote-d-ivoire">TPC CI</a></li>
                                    <li><a class="dropdown-item" href="/contact/mali">TPC Mali</a></li>
                                    <li><a class="dropdown-item" href="/contact/togo">TP ETT Togo</a></li>
                                    <li><a class="dropdown-item" href="/contact/gisea-sarl">GISEA Sarl</a></li>
                                </ul>
                            </li>
                                                            <li class="nav-item  login-desk">
                                    <a class="nav-link btn log " href="/login">Connexion</a>
                                </li>
                                <li class="nav-item login-desk">
                                    <a class="nav-link btn sign" href="/register">Inscription</a>
                                </li>
                                                    </ul>
                    </div>
                </nav>
            </div>
        </section>

    </header>
        <section class="section-hero overlay inner-page bg-image"
        style=" background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .1)), url(assets/img/a.svg) left center no-repeat;background-size: cover;"
        id="home-section">
        <div class="container job_detail_head">
            <div class="row">
                <div class="">
                    <h1 class="text-white font-weight-bold job_detail_title" style="text-align: center">Un (01) HOME AND DEVICE FINANCING SUPPORT (REF: ETT-0126R01HDFS)
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <section class="container mt-2">
        <div class="row align-items-center mb-2">
            <div class="col-lg-8 mb-4 mb-lg-0">
                <div class="d-flex align-items-center">
                    <div class="border p-2 d-inline-block mr-3 rounded">
                                                    <a href="#">
                                <img src="public/uploads/logo/Anonyme_1709824694.png" width="70" style="height: 40%;"
                                    alt="Logo"></a>
                                            </div>
                    <div>
                        <div class="mb-2 mt-3">
                            <span class="ml-0 mr-2 mb-2"><i class="mr-2 fa fa-building" style="color: #00027D"
                                    aria-hidden="true"></i>Anonyme <span
                                    class="icon-briefcase mr-2"></span>
                                
                            </span>
                            <span class=""><i style="color: #00027D" class="mr-2 fa fa-map-marker"></i>Cotonou,
                                Bénin <span class="icon-room mr-2"></span>
                                
                            </span>
                        </div>
                        <p style="font-weight: bold; color: #00027d;font-size: 1rem !important;"> Niveau du processus:
                            <strong style="color: #FF5A00;">Collecte</strong>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mt-2">
                                    <span class="badge badge-danger date-text date-margin">
                        Expiré
                    </span>
                            </div>
        </div>
        <div class="row mb-4">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">

                        <div class="mb-2">
                            <div class="mb-5">
                                                                    <h3 style="font-size: 20px !important; color: #00027d; font-weight: bold;">Description
                                    </h3>
                                    <p class="ml-4 personalize">
                                        <p><strong>TALENTS PLUS E.T.T. </strong>B&eacute;nin recrute pour le compte d&rsquo;une structure de t&eacute;l&eacute;communication&nbsp;:</p>
<h3 style="text-align: center;"><span style="color: #003366;"><strong>Un (01) HOME AND DEVICE FINANCING SUPPORT (REF: ETT-0126R01HDFS)</strong></span></h3>
<p><strong><u>Missions et Responsabilit&eacute;s </u></strong><strong>:</strong></p>
<p>Le/la titulaire du poste sera charg&eacute;.e de&nbsp;:</p>
<ul style="list-style-type: square;">
<li>G&eacute;rer les requ&ecirc;tes des abonnes HOME et Device Financing ;</li>
<li>Emettre des appels pour assister et relancer les clients en d&eacute;faut de paiement ;</li>
<li>Proposer des produits et services en ligne ;</li>
<li>Assurer le suivi des commandes en ligne Home ;</li>
<li>Supporter les agents terrain ;</li>
<li>Supporter l&rsquo;&eacute;quipe sur le plan op&eacute;rationnel&nbsp;;</li>
<li>Interagir permanemment avec IT pour la gestion des requ&ecirc;tes&nbsp;;</li>
<li>D&eacute;velopper et g&eacute;rer le portefeuille clients HOME et Device Financing&nbsp;;</li>
<li>D&eacute;velopper le canal de vente digital sur HOME et Device Financing ;</li>
<li>Am&eacute;liorer continuellement le parcours digital des clients HOME et Device Financing ;</li>
<li>Fournir des rapports r&eacute;guliers sur les plaintes/requ&ecirc;tes des clients&nbsp;;</li>
<li>Fournir des rapports sur les ventes faites en ligne.</li>
</ul>
<p><strong><u>Profil</u></strong><strong>&nbsp;</strong>:</p>
<ul style="list-style-type: square;">
<li>&Ecirc;tre titulaire au minimum d&rsquo;un Bac + 2 en Marketing, gestion commerciale&nbsp;ou tout dipl&ocirc;me &eacute;quivalent en commerce, strat&eacute;gie d&rsquo;entreprise et en analyse commerciale ;</li>
<li>Avoir au moins un (01) an d&rsquo;exp&eacute;rience dans un d&eacute;partement commercial ou marketing&nbsp;;</li>
<li>Avoir une exp&eacute;rience dans le secteur des t&eacute;l&eacute;communications serait un plus&nbsp;;</li>
<li>Avoir des aptitudes &agrave; communiquer, g&eacute;rer et assister les clients&nbsp;;</li>
<li>Avoir une bonne connaissance des technologies de l&rsquo;information et de la communication (ICT)&nbsp;;</li>
<li>&Ecirc;tre capable d&rsquo;analyser les tendances du march&eacute; et d&rsquo;adapter les strat&eacute;gies en cons&eacute;quence&nbsp;;</li>
<li>&Ecirc;tre capable de travailler en &eacute;quipe et de collaborer efficacement avec divers d&eacute;partements&nbsp;;</li>
<li>&Ecirc;tre capable d&rsquo;&eacute;laborer des propositions de valeur convaincantes&nbsp;;</li>
<li>Avoir d&rsquo;excellente capacit&eacute; &eacute;crite et orale, d&rsquo;excellente capacit&eacute; d&rsquo;&eacute;laboration des diapositives&nbsp;;</li>
<li>Avoir la rigueur, l&rsquo;adaptabilit&eacute; et le bon sens de n&eacute;gociation&nbsp;;</li>
<li>&Ecirc;tre fiable, organis&eacute; et pouvoir travailler en &eacute;quipe et sous pression&nbsp;;</li>
<li>&Ecirc;tre responsable de l&rsquo;atteinte de ses r&eacute;sultats et du respect des d&eacute;lais.</li>
</ul>
<p>&nbsp;</p>
<p><strong><u>Ce profil est-il le v&ocirc;tre ?</u></strong></p>
<p>Envoyez&nbsp;<strong>OBLIGATOIREMENT&nbsp;</strong>votre dossier par mail, en pr&eacute;cisant en objet l&rsquo;intitul&eacute; du poste<strong>&nbsp;: HOME AND DEVICE FINANCING SUPPORT (REF: ETT-0126R01HDFS) </strong>&agrave; l&rsquo;adresse <span style="background-color: #ffff00;"><a style="background-color: #ffff00;" href="mailto:recrutement@talentsplusafrique.com">recrutement@talentsplusafrique.com</a></span></p>
<p><strong>Un accus&eacute; de r&eacute;ception vous sera envoy&eacute; d&egrave;s r&eacute;ception du dossier de candidature, cependant si vous ne recevez pas ledit accus&eacute; de r&eacute;ception, merci de bien vouloir renvoyer le mail.</strong>&nbsp;</p>
<p><strong><u>PIECES A FOURNIR :</u></strong></p>
<ul style="list-style-type: square;">
<li><em>Une lettre de motivation adress&eacute;e au Directeur G&eacute;n&eacute;ral de TALENTS PLUS CONSEILS pr&eacute;cisant le poste et sa r&eacute;f&eacute;rence (y inscrire votre disponibilit&eacute; et votre pr&eacute;tention salariale) ;</em></li>
<li><em>Un Curriculum Vitae d&eacute;taill&eacute; ;</em></li>
<li><em>Les copies des dipl&ocirc;mes et des attestations justifiant l&rsquo;exp&eacute;rience ;</em></li>
<li><em>Une copie de la pi&egrave;ce d&rsquo;identit&eacute; en cours de validit&eacute; ;</em></li>
</ul>
<p><strong><em>(Tout dossier de candidature ne respectant pas cette exigence sera purement et simplement rejet&eacute;)</em></strong></p>
<p><strong><em>NB:</em></strong></p>
<ul style="list-style-type: square;">
<li><strong><em>En soumettant votre candidature, vous nous donnez &eacute;galement votre consentement pour la collecte, le stockage, le traitement de vos donn&eacute;es personnelles.</em></strong></li>
<li><strong><em>Vous pouvez &agrave; toute &eacute;tape du processus, exercer votre droit d&rsquo;opposition.</em></strong></li>
</ul>
<p><strong>Date limite de d&eacute;p&ocirc;t : <span style="color: #ff0000; background-color: #ffff00;">25 Janvier 2026</span></strong></p>
<p>Pour plus d&rsquo;infos : <a href="http://www.talentsplusafrique.com/">www.talentsplusafrique.com</a></p>
                                    </p>
                                    <a href="/public/uploads/job_file/Job_1768326219.pdf"
                                        style="color: #FF5A00 !important;font-size:18px" target="_blank">
                                        Télécharger l'avis
                                    </a>
                                                            </div>
                        </div>

                        
                                                                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="bg-light p-3 border rounded mb-4">
                    <a class="btn btn-block btn-success btn-md mt-5 h5 pl-3 " target="_blank"
                        style="font-size: 20px;font-weight:bold;margin-top:20px !important" href="process">Comment Postuler?
                    </a>
                    <h3 class="mt-3 h5 pl-3 mb-3 " style="font-weight: bold; color: #FF5A00;font-size: 1.625rem;">
                        Informations sur l'offre</h3>
                    <ul class="list-unstyled pl-3 mb-0">
                        <li class="mb-2"><strong class="text-black">Type d'emploi :</strong>
                            Temps plein
                        </li>
                        <li class="mb-2"><strong class="text-black">Lieu :</strong>
                            Cotonou, Bénin
                        </li>
                        <li class="mb-2"><strong class="text-black">Date de publication :</strong>
                            <span class="badge badge-primary date-margin"
                                *ngIf="jobIsExpired(job.getExpirationDate()) == false">
                                13/01/2026</span>
                        </li>
                        <li class="mb-2"><strong class="text-black">Date limite :</strong>
                                                            <span class="badge badge-danger date-text date-margin"
                                    *ngIf="jobIsExpired(job.getExpirationDate()) == true">Expiré le :
                                    25/01/2026
                                </span>
                                                    </li>
                        <li class="mb-2"><strong class="text-black">Nationalité :</strong>
                            
                        </li>
                    </ul>
                </div>
                <div class="bg-light pt-3  border rounded mb-4">
                    <h3 class="container" style="font-weight: bold;color: #FF5A00 !important;font-size: 18px !important;">
                        Critères cruciaux (Eliminatoires)
                    </h3>
                                                                                                                                        </div>
                <div class="bg-light p-3 border rounded align-items-center" style="">
                    <h3 class="  mt-3 h5  mb-3 mr-3 d-flex align-items-center "
                        style="font-weight: bold; color: #FF5A00;font-size: 1.625rem;">Partager l'avis
                    </h3>
                    <div class="social-share mt-2 mr-3 d-flex align-items-center">
                        <a target="_blank" href="https://www.facebook.com/talentsplusafrique"
                            style="margin-right: 10px"><img src="assets/img/facebook1.svg" width="20"></a>
                        <a target="_blank" href="https://www.linkedin.com/in/talents-plus-groupe-b325887a/"
                            style="margin-right: 10px"><img src="assets/img/linkedin1.svg" width="20"></a>
                        <a target="_blank" href="https://twitter.com/TalentsPlus"><img src="assets/img/twitter1.svg"
                                width="20"></a>
                    </div>
                </div>
                <br>
            </div>

            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const isLoggedIn = false; // Vérifier si l'utilisateur est connecté
                    const jobId = 402; // Récupérer l'ID du job

                    // Ajouter un événement de clic pour le bouton "Postuler"
                    document.getElementById('applyButton').addEventListener('click', function (e) {
                        e.preventDefault(); // Empêcher la redirection immédiate

                        if (isLoggedIn) {
                            // Si l'utilisateur est connecté, rediriger vers la page d'application
                            window.location.href = `/job-apply/${jobId}`;
                        } else {
                            // Si l'utilisateur n'est pas connecté, afficher la modal SweetAlert
                            Swal.fire({
                                title: 'Avez-vous déjà un compte?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Oui, se connecter',
                                cancelButtonText: 'Non, créer un compte',
                                focusCancel: true // Pour garantir que le bouton "Non, créer un compte" a le focus par défaut
                            }).then((result) => {
                                // Vérifier la réponse de l'utilisateur dans la modal
                                if (result.isConfirmed) {
                                    // Rediriger vers la page de connexion avec le paramètre de redirection
                                    window.location.href = `/login?redirect=/job-apply/${jobId}`;
                                } else if (result.dismiss === Swal.DismissReason.cancel) {
                                    // Si l'utilisateur annule (clique hors du modal ou sur le bouton "Non, créer un compte")
                                    window.location.href = `/register?redirect=/job-apply/${jobId}`;
                                }
                            });
                        }
                    });

                    document.getElementById('applyButton1').addEventListener('click', function (e) {
                        e.preventDefault(); // Empêcher la redirection immédiate

                        if (isLoggedIn) {
                            // Si l'utilisateur est connecté, rediriger vers la page d'application
                            window.location.href = `/job-apply/${jobId}`;
                        } else {
                            // Si l'utilisateur n'est pas connecté, afficher la modal SweetAlert
                            Swal.fire({
                                title: 'Avez-vous déjà un compte?',
                                icon: 'question',
                                showCancelButton: true,
                                confirmButtonText: 'Oui, se connecter',
                                cancelButtonText: 'Non, créer un compte',
                                focusCancel: true // Pour garantir que le bouton "Non, créer un compte" a le focus par défaut
                            }).then((result) => {
                                // Vérifier la réponse de l'utilisateur dans la modal
                                if (result.isConfirmed) {
                                    // Rediriger vers la page de connexion avec le paramètre de redirection
                                    window.location.href = `/login?redirect=/job-apply/${jobId}`;
                                } else if (result.dismiss === Swal.DismissReason.cancel) {
                                    // Si l'utilisateur annule (clique hors du modal ou sur le bouton "Non, créer un compte")
                                    window.location.href = `/register?redirect=/job-apply/${jobId}`;
                                }
                            });
                        }
                    });
                });
            </script>
        </div>
    </section>

    <footer>
        <section class="foot">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-3 col-lg-3">
                        <img style="width:50%; margin-bottom: 20px;" src="/site/assets/img/logo-white.png"
                            alt="">
                        <p style="font-size: 13px;">Groupe africain, géré par des africains, qui offre depuis Février
                            2005 un
                            service d'expertise de qualité de dimension internationale.</p>
                        <div class="social-footer">
                            <a target="_blank" aria-label="Talents Plus Afrique"
                                href="https://www.facebook.com/talentsplusafrique"><img src="assets/img/facebook1.svg"
                                    alt=""></a>
                            <a target="_blank" aria-label="Talents Plus Afrique"
                                href="https://www.linkedin.com/in/talents-plus-groupe-b325887a/"><img alt=""
                                    src="assets/img/linkedin1.svg"></a>
                            <a target="_blank" aria-label="Talents Plus Afrique"
                                href="https://twitter.com/TalentsPlus"><img src="assets/img/twitter1.svg"
                                    alt=""></a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-4 bot">
                        <h3 style="color: #fff">Newsletter</h3>
                        <div class="bar"></div>
                        <p style="margin-top: 10px; font-size: 16px;">Inscrivez-vous pour ne rater aucune nouvelle sur
                            nos produits
                            & services</p>
                        <form class="newsletter-footer" method="POST" action="/newsletters">
                            <input type="hidden" name="_token" value="s2K8YUbVZXAUWF1tVvTsTftf1JrJ5Pn7lljV26HL">                            <div class="mb-3 col-md-12" style="padding: 0px !important;">
                                <input class="form-control" formControlName="email" placeholder="Entrer votre email"
                                    onfocus="this.placeholder = ''" onblur="this.placeholder = 'Entrer votre email '"
                                    type="email" name="email" style="text-transform: lowercase !important"
                                    required>
                            </div>
                            <div class="mb-3 col-md-12" style="padding: 0px !important;">
                                <button type="submit" class="btn btn-submit">Souscrire</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-6 col-sm-3 col-lg-3 bot">
                        <h3 style="color: #fff">En savoir plus</h3>
                        <div class="bar"></div>
                        <div style="margin-top: 10px">
                            <a href="/a-propos/talents-plus-afrique"><img alt=""
                                    src="site/assets/img/chev.svg">A
                                propos</a>

                            <a href="/a-propos/talents-plus-afrique#distinc"><img alt=""
                                    src="site/assets/img/chev.svg">Prix et
                                Excellence</a>
                            <a href="/a-propos/talents-plus-afrique#partenaires"><img alt=""
                                    src="site/assets/img/chev.svg">Partenaires</a>
                            <a href="jobs"><img alt="" src="site/assets/img/chev.svg">Offres d'emploi</a>
                            <a href="cgu"><img alt="" src="site/assets/img/chev.svg">Conditions générales
                                d'utilisation</a>
                        </div>
                    </div>
                    <div class="col-6 col-sm-2 col-lg-2">
                        <h3 style="color: #fff">Nous contacter </h3>
                        <div class="bar"></div>
                        <div style="margin-top: 10px">
                            <a href="contact/benin-tpc"><img alt="Bénin" src="site/assets/img/benin.svg">Bénin</a>
                            <a href="contact/cote-d-ivoire"><img alt="Côte d'ivoire"
                                    src="site/assets/img/cote.svg">Côte
                                d'ivoire</a>
                            <a href="contact/mali"><img alt="Togo" src="site/assets/img/togo.svg">Togo</a>
                            <a href="contact/mali"><img alt="Mali" src="site/assets/img/mali.svg">Mali</a>
                        </div>
                    </div>
                    <div class="col-6" style="margin-top: 20px;">
                    </div>
                    <div class="hhr"></div>
                    <div class="col-12 col-sm-6">
                        <p style="color: #525252;text-align: center !important;">Copyright © 2025 Groupe Talents Plus,
                            Tous droits
                            réservés.</p>
                    </div>
                    <div class="col-12 col-sm-6">
                        <p style="color: #525252;"></p>
                    </div>
                </div>
            </div>
        </section>
    </footer>
    <div class="cookie-popup cookie-popup--short cookie-popup--dark">
        <div>
            Nous utilisons des cookies pour vous offrir la meilleure expérience utilisateur possible. En continuant à
            utiliser notre site, vous acceptez leur utilisation. <br>
            En soumettant votre candidature, vous nous donnez également votre consentement pour la collecte, le
            stockage, le traitement de vos données personnelles. <br>
            Vous pouvez à toute étape du processus, exercez votre droit d’opposition. <br>
            <a href="cgu">En savoir plus</a>
        </div>
        <div class="cookie-popup-actions">
            <button>Accepter</button>
        </div>

    </div>
    <style>
        .cookie-popup {

            font-size: 0.875rem;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            position: fixed;
            bottom: -6.25rem;
            left: 1.25rem;
            right: 1.25rem;
            padding: 0.625rem 0.9375rem;
            box-shadow: 0 0 0.625rem 0 rgba(0, 0, 0, .15);
            line-height: 150%;
            transition: opacity .5s;
            opacity: 0;
        }

        .cookie-popup--short {
            right: none;
            width: 29.875rem;
        }

        .cookie-popup--dark {
            background: #000;
            color: #fff;
        }

        .cookie-popup--not-accepted {
            opacity: 1;
            animation: cookie-popup-in .5s ease forwards;
        }

        .cookie-popup--accepted {
            opacity: 0;
        }

        .cookie-popup a {
            color: skyblue;
        }

        .cookie-popup a:visited {
            color: skyblue;
            text-decoration: none;
        }

        .cookie-popup-actions {
            flex: 1;
            text-align: right;
        }

        .cookie-popup-actions button {
            color: orange;
            border: none;
            background: none;
            font-family: inherit;
            font-style: inherit;
            font-size: inherit;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.75rem;
            padding: 0;
            cursor: pointer;
        }

        .cookie-popup-actions button:hover {
            text-decoration: underline;
        }

        @keyframes  cookie-popup-in {
            from {
                bottom: -6.25rem;
            }

            to {
                bottom: 1.25rem;
            }
        }

        @media  only screen and (max-width: 768px) {

            /* For mobile phones: */
            .cookie-popup--short {
                right: none;
                width: 20.875rem !important;
            }
        }
    </style>
    <script>
        /* common fuctions */
        function el(selector) {
            return document.querySelector(selector)
        }

        function els(selector) {
            return document.querySelectorAll(selector)
        }

        function on(selector, event, action) {
            els(selector).forEach(e => e.addEventListener(event, action))
        }

        function cookie(name) {
            let c = document.cookie.split('; ').find(cookie => cookie && cookie.startsWith(name + '='))
            return c ? c.split('=')[1] : false;
        }
        /* popup button hanler */
        on('.cookie-popup button', 'click', () => {
            el('.cookie-popup').classList.add('cookie-popup--accepted');
            document.cookie = `cookie-accepted=true`
        });

        /* popup init hanler */
        if (cookie('cookie-accepted') !== "true") {
            el('.cookie-popup').classList.add('cookie-popup--not-accepted');
        }
        /* page buttons handlers */

        function _reset() {
            document.cookie = 'cookie-accepted=false';
            document.location.reload();
        }

        function _switchMode(cssClass) {
            el('.cookie-popup').classList.toggle(cssClass);
        }
    </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/site/assets/js/jquery.zoom.js"></script>
    <script src="/site/assets/js/script.js"></script>
    <script src="/site/assets/js/owl.carousel/owl.carousel.js"></script>
    <script src="/site/assets/js/owl.carousel/animate.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('.summernote').summernote();
        });
    </script>
</body>

</html>
